:host{
  display: flex;
  flex-direction: column;
  background: #009688;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  min-height: 50px;
  width: 100%;
  z-index: 100;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -ms-transition: transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  position: fixed;

}

:host.push{
  -webkit-transform: translateY(-65px);
  -moz-transform: translateY(-65px);
  -ms-transform: translateY(-65px);
  -o-transform: translateY(-65px);
  transform: translateY(-65px);
}

nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  overflow-x: auto;
}

nav::-webkit-scrollbar{
  display: none;
}

